@import '../../css/Variable.scss';

.hero-section-nav {
    z-index: 1;
    position: inherit;
    bottom: 50px;

}

.hero-media {
    filter: brightness(0.4);
}

.search-input {
    padding: 28px 45px 28px 75px;
    border-radius: 50px;
    height: 40px;
    border-style: none;
    max-width: 600px;
}

.search-icon {
    position: relative;
    bottom: -15px;
    left: 6%;
    font-size: 22px;
}

.sort-dropdown {
    padding: 10px 15px 10px 15px;
    z-index: 2;
    box-shadow: 0px 0px 0px 1px #e7e7e9 inset;
    // background: #fff;
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
    -webkit-transition: color 200ms ease;
    transition: color 200ms ease;
    border: none;
    border-radius: 8px;
    outline: none;
    text-align: center;
    // border: 3px solid red;
}

.img-caption{
    position: absolute;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    top: 100% !important;
    left: 25% !important;
}